.song-container {
    display: flex;
    flex-direction: row;
    gap: 16px
}

@media (max-width: 600px) {
    .song-container {
        flex-direction: column;
    }
}

.song-list {
    width: fit-content;
}

.song-list * {
    padding-top: 4px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex-grow: 1;
    align-items: start;
    padding: 24px;
}

.button-team-blue {
    background-color: var(--blue-lighter);
}
.button-team-blue:hover {
    background-color: var(--blue);
}
.button-team-red {
    background-color: var(--red-lighter);
}
.button-team-red:hover {
    background-color: var(--red-light);
}