.buzzer-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.buzzer {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 300px;
  background-color: transparent;
  border: none;
}

.buzzer:hover {
  background-color: unset;
}

.buzzer div {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  top: 0;
}

.buzzer.red div {
  background-color: var(--red-light);
  box-shadow:
    inset 0 1px 0 var(--red-lighter),
    0 10px 0 var(--red-darker);
}

.buzzer.red div:active {
  background-color: var(--red);
  box-shadow:
    inset 0 1px 0 var(--red-lighter),
    0 -3px 0 var(--red-darker);
}

.buzzer.blue div {
  background-color: var(--blue-light);
  box-shadow:
    inset 0 1px 0 var(--blue-lighter),
    0 10px 0 var(--blue-darker);
}

.buzzer.blue div:active {
  background-color: var(--blue);
  box-shadow:
    inset 0 1px 0 var(--blue-lighter),
    0 -3px 0 var(--blue-darker);
}

.buzzer div:active {
  top: 10px;
}

.buzzer:after {
  content: "";
  height: 100%;
  width: 100%;
  padding: 4px;
  position: absolute;
  bottom: -15px;
  left: -4px;
  z-index: -1;
  background-color: #5a5a5a;
  border-radius: 50%;
}

.score-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.red-score {
  color: var(--red-light);
}

.score-separator {

}

.blue-score {
  color: var(--blue-light);
}
