.score-panel-root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.score-panel {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.team-name {
  font-size: 4rem;
  line-height: 1;
}

.score-panel-red {
  background-color: var(--red);
}

.score-panel-blue {
  background-color: var(--blue);
}

.score {
  font-size: 20rem;
}
