.score-panel-root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.score-panel {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.score-panel-red {
    background-color: red;
}

.score-panel-blue {
    background-color: blue;
}

.score {
    font-size: 20rem;
}